.top, .title{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 4rem;
}
.title{
    margin-bottom: .2rem !important;
}
.avatar{
    img{
        width: 5rem;
        height: 5rem;
        border-radius: 50%;
        object-fit: cover;
    }
}
//DNS IP : 162.213.253.172
.tags{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 1rem 0;
    .tag{
        border: 1px solid #C4C4C4;
        border-radius: 20PX;
        box-sizing: border-box;
        color: #C4C4C4;
        font-family: 'Lato';
        margin: 0 .5rem;
        font-size: 14px;
        padding: .2rem 1rem;
    }
}

.buttons {
    button{
        padding: .7rem 4rem;
        border-radius: 5px;
    }
}
.title{
    p{
        color: #828282;
    }
}
.image{
    width: 70%;
    position: relative;
    margin: auto;
    margin-bottom: 4rem;
}

// mat-dialog-container{
//     background: rgba(0,0,0,.7) !important;
//     position: absolute;
//     top: 0;
//     right: 0;
//     left: 0;
//     bottom: 0;
// }
mat-dialog-content{

    max-height: 90vh !important;
}
