<mat-dialog-content>
    <div class="top">
        <div class="avatar cursor d-flex align-items-center">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSnhTKPGw61t95WDLsAyMMMPlRrCncGyRnCVw&usqp=CAU" alt="">
            <div class="name text-app-black ml-2">
                <h6 class="f-16 font-weight-bold mb-0">Orbzone Global</h6> 
                <p class="f-14 mb-0">124 Photos</p>
            </div>
        </div>
        <div class="buttons">
            <span class="c_p text-app-black font-weight-bold mr-4">Commercial License</span>
            <button class="btn bg-app-black text-white f-14">Download</button>
        </div>
        
    </div>
    <div class="preview">
        <div class="image">
            <div class="title">
                <h6 class="text-app-black black font-weight-bold f-14">Friends enjoying the park together</h6>
                <p class="font-weight-bold">Royalty-free stock photo ID: 421</p>
            </div>
            <div class="image_data">
                <img [src]="data?.image" alt="" class="w-100">
                <div class="bottom_panel mt-auto">
                    <div class="avatar cursor d-flex align-items-center">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSnhTKPGw61t95WDLsAyMMMPlRrCncGyRnCVw&usqp=CAU" alt="">
                        <span class="ml-3 f-14 text-white">Mohammed Odutola</span>
                    </div>
                    <div class="icons d-flex">
                        <mat-icon >share</mat-icon>
                        <mat-icon >add_circle_outline</mat-icon>
                        <mat-icon >favorite_border</mat-icon>
                    </div>
                </div>
            </div>
            
            <div class="tags">
                <span class="tag" *ngFor="let item of tags">{{item}}</span>
            </div>
            
        </div>
        
        <div class="intro_text">
            <h6 class="f-16 font-weight-bold">Related Images</h6>
        </div>
        <div class="masonry">
            <div class="grid" *ngFor="let item of gallery">
              <img [src]="item" >
              <div class="grid__body cursor" (click)="open(item)">
              </div>
              <div class="bottom_panel mt-auto">
                <div class="avatar cursor d-flex align-items-center" (click)="open(item)">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSnhTKPGw61t95WDLsAyMMMPlRrCncGyRnCVw&usqp=CAU" alt="">
                    <span class="ml-3 f-14 text-white">Mohammed Odutola</span>
                </div>
                <div class="icons d-flex">
                    <mat-icon >add_circle_outline</mat-icon>
                    <mat-icon >share</mat-icon>
                    <mat-icon >favorite_border</mat-icon>
                </div>
              </div>
            </div>
            
        </div>
    </div>
</mat-dialog-content>