.change_nav{
    background: #111 !important;
}
.default_nav{
    background: none !important;
}
.nav_bar{
    padding: 1rem 5%;
    z-index: 9;
    background:none;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    justify-content: space-between;
    .logo_brand img{
        width: 7.3rem;
    }

    li{
        list-style: none;
        color: #fff;
        margin-left: 1.5rem;
        font-weight: normal;
        font-size: 17px;
        line-height: 21px;
        &:last-child{
            margin-left: 4rem;
        }
    }
    button{
        padding: .5rem 1rem;
        background: 5px;
        color: #fff;
    }
    
}