<nav class="nav_bar flex_center" 
[ngClass]="{'nav_black': navViewPort == true}">
    <div class="logo_brand flex_center">
        <img src="../../../assets/img/logo.png" alt="" 
        [routerLink]="['']" class="cursor">
        <div class="search desktop_view" *ngIf="show_search">
            <input type="text" placeholder="Search for premium photos and videos"
            [(ngModel)]="search_term" (keyup.enter)="search()">
            <mat-icon>search</mat-icon>
        </div>
    </div>
    <div class="flex_center">
        <div class="links flex_center desktop_view">
            <li [routerLink]="['explore']" routerLinkActive="router_active" >Explore</li>
            <li>Contributors</li>
            <li (click)="upload()">Upload</li>
            <li *ngIf="!logged_In">
                <button class="btn bg-app-primary" [routerLink]="['/account/join']">Join</button>
            </li>
        </div>
        <div class="flex_center">
            <div *ngIf="logged_In" class="flex_center">
                <span class="d-flex noty">
                    <mat-icon>notifications</mat-icon>
                    <span class="badge">{{notification_count}}</span>
                </span>
                <img [src]="user?.image" onerror="this.src='../../../assets/img/user-icon.jpg'"
                alt="Orbzone Contributor" class="user_avatar" [routerLink]="['/user']">
            </div>
            <div class="menu_toggle menu_open" >
                <mat-icon (click)="menu()" class="cursor ">menu</mat-icon>
            </div>
        </div>
    </div>
</nav>
<div class="mobile_menu bg-app-light slide_menu" id="menu">
    <div class="logo_brand flex_center">
        <img src="../../../assets/img/logo.png" alt="" 
        [routerLink]="['']" class="cursor">
        <div class="search px-4 w-100">
            <input type="text" placeholder="Search for premium photos and videos"
            [(ngModel)]="search_term" (keyup.enter)="search()">
            <mat-icon>search</mat-icon>
        </div>
        <div class="menu_open">
            <mat-icon (click)="menu()" class="cursor">menu</mat-icon>
        </div>
        
    </div>
    <div class="mobile_links mt-5">
        <li [routerLink]="['/explore']" routerLinkActive="router_active" >Explore</li>
        <li>Contributors</li>
        <li (click)="upload()">Upload</li>
        
        <li *ngIf="!logged_In">
            <button class="btn bg-app-primary" [routerLink]="['/account/join']">Join</button>
        </li>
    </div>
</div>