$primary: #F2994A;

.banner_typo{
    font-family: Mulish;
    font-style: normal;
    line-height: 131%;
    color: #FFFFFF;
}
.banner{
    background: url(../../../assets/img/banner-home.png);
    min-height: 72vh;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 3rem 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-items: center;
    .text_content{
        width: 607px;
    }
    h6{
        font-weight: 800;
        font-size: 36px;
    }
    input{
        width: 100%;
        border: none;
        border-radius: 10px;
        background: #fff;
        padding: 1.1rem 1.3rem;
        margin: 1rem 0;
        font-size: 17px;
        font-weight: 600;
        &::placeholder{
            font-size: 17px;
        font-weight: 600;
        }
    }
    .tags small{
        font-weight: normal;
    }
}

.image_tabs{
    padding: 1rem 5%;
    margin-bottom: 1rem;
    position: relative;
    &::after{
        content: '';
        position: absolute;
        background: #E0E0E0;
        content: "";
        position: absolute;
        height: 1px;
        left: 0;
        bottom: .1rem;
        right: 0;
        background: #E0E0E0;
    }
    span{
        margin: 0 2rem;
        cursor: pointer;
        position: relative;
    }
    .active_tab{
        color: $primary;
        &::after{
            content: '';
            position: absolute;
            background: $primary;
            bottom: -1rem;
            right: -.8rem;
            left: -.8rem;
            height: 3px;
        }
    }
}
.notification{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 99999;
    overflow-y: auto;
    background: rgba(0,0,0,.3) !important;
    .panel{
        width: 38rem;
        height: auto;
        background: #fff;
        padding: 1rem 1.4rem 4rem 1.4rem;
        border-radius: 3px;
    }
    .content{
        padding: .5rem 4rem;
    }
    h6{
        margin-bottom: 2rem;
    }
    p{
        margin-bottom: 1rem;
        &:last-of-type{
            margin-bottom: 1.8rem !important;
        }
    }
    .close mat-icon{
        font-size: 24px;
        height: 224px;
        color: #333;
        width: 24px;
    }
    .btn{
        padding: .5rem 1.5rem;
    }
    .button_group{
        display: flex;
        justify-content: center;
    }
    .btn_border{
        border: 1px solid #0E0E0E;
    }
}

//MEDIA QUERRIES
@media only screen and (max-width: 768px) {
    .notification{
        .panel{
            width: 35rem;
        }
        .content{
            padding: .5rem 1rem;
        }
    }
}
@media only screen and (max-width: 599px) {
    .banner{
        .text_content{
            width: 86%;
        }
    }
    .image_tabs{
        span{
            margin: 0 .5rem;
        }
    }
    .notification{
        .panel{
            width: 22rem;
            padding: 1rem 1.2rem 4rem 1.2rem;
        }
        .content{
            padding: .5rem;
        }
        .btn{
            padding: .37rem .5rem;
        }
    }
}