<app-navbar></app-navbar>
<div class="banner">
    <div class="text_content banner_typo">
        <h6 class="text-white">
            Premium stock photos & videos
            shared by african contributors.
        </h6>
        <div class="search_area" *ngIf="show_search">
            <input type="text" name="searchterm" id="" placeholder="Search for premium photos and videos"
            (keyup.enter)="enter()" [(ngModel)]="search_term">
            <div class="tags">
                <span>Suggested : </span>
                <small class="ml-2">
                    web design, oil, meeting, wildlife, petroleum, happy, rural, villages, children, more
                </small>
            </div>
        </div>
    </div>
</div>
<div class="image_tabs text-center">
    <span [ngClass]="{'active_tab': active_tab == item}"
    class="f-17 text-app-dark fw-800" 
    *ngFor="let item of tabs" (click)="changeTab(item)">{{item | titlecase}}
    </span>
</div>
<div class="intro_text">
    <h6 class="f-16 font-weight-bold">Premium Stock Images</h6>
</div>
<div class="masonry" *ngIf="!shimmer">
    <div class="grid" *ngFor="let item of gallery">
      <img [src]="item?.preview" class="grid_image" onload="this.src='../../../assets/img/unavailable-image.jpg'" 
      onerror="this.src='../../../assets/img/unavailable-image.jpg'" alt="Orbzone gallery">
      <div class="grid__body cursor" (click)="open(item)">
      </div>
      <div class="bottom_panel mt-auto">
        <div class="avatar cursor d-flex align-items-center" (click)="open(item)">
            <img [src]="item?.user?.image" onerror="this.src='../../../assets/img/user-icon.jpg'" alt="Orbzone Author">
            <span class="ml-3 f-14 text-white">{{item?.user?.surname}} {{item?.user?.firstname}}</span>
        </div>
        <div class="icons d-flex">
            <mat-icon >share</mat-icon>
            <mat-icon (click)="addCollection(item)">add_circle_outline</mat-icon>
            <mat-icon >favorite_border</mat-icon>
        </div>
      </div>
    </div>
    
  </div>

  <div class="notification" *ngIf="notification">
      <div class="panel">
        <div class="my-3 text-right">
            <mat-icon class="cursor" (click)="notification = false">close</mat-icon>
        </div>
        <div class="content text-center">
            <h6 class="font-weight-bold f-24 text-app-black">
                Welcome to Orbzone
            </h6>
            <p class="text-app-black f-14">
                Orbzone is a platform that provides a networked environment
                for African photographers to share their work with the world.
            </p>
            <p class="text-app-black f-14">
                We enable creative content creators to gain access to better
                and more relatable content that will help them tell the African
                story even better as a business or brand.
            </p>
            <div class="button_group text-center font-weight-bold">
                <a class="bg-app-black text-white btn cursor f-16">For Contributor’s</a>
                <a class="ml-3 btn_border text-app-black btn cursor f-16">I want Premium Images</a>
            </div>
        </div>
    </div>
  </div>
  
  <app-shimmer *ngIf="shimmer"></app-shimmer>