@import '../navbar.scss';
.search{
    margin-left: 3rem;
    position: relative;
    input{
        border: none;
        background: #fff;
        border-radius: 8px;
        color: #656565;
        font-size: 14px;
        width: 25rem;
        padding: .7rem 1rem;
        &::placeholder{
            color: #656565;
        }
    }
    mat-icon{
        position: absolute;
        color: #172B4D;
        right: .8rem;
        top: .75rem;
        font-size: 20px;
    }
}