.wrapper{
    display: flex;
    justify-content: space-between;
    flex-flow: wrap;
    padding: 1.5rem 5%;
    .image_item{
        position: relative;
        width: 32%;
        margin-bottom: 1.5rem;
    }
    img{
        width: 100%;
        height: auto;
    }
    .bottom_panel{
        bottom: 1.2rem;
        height: auto;
    }
}
@media (max-width: 599px) {
    .wrapper{
        display: block;
        .image_item{
            width: 100%;
        }
    }
}