<div class="overlay">
    <app-top-nav class="w-100"></app-top-nav>
    <div class="content">
        <h6 class="font-weight-bold f-32 text-app-black">Reset Password</h6>
        <p>Choose something you'll remember this time</p>
        <form [formGroup]="passwordForm">
            <div class="group">
                <input type="text" class="form-control" 
                formControlName="new_password" placeholder="New Password">
                <mat-icon>https</mat-icon>
            </div>
            <div class="group">
                <input type="text" class="form-control" 
                formControlName="new_password_confirmation" 
                placeholder="Confirm New Password">
                <mat-icon>https</mat-icon>
                <small class="error" *ngIf="passwordForm.errors?.mismatchedFields 
                    && passwordForm.get('new_password_confirmation').touched">
                    Passwords do not match!
                </small>
            </div>
            <button class="bg-app-black text-white btn" (click)="reset()" 
                [disabled]="!passwordForm.valid || loader">Reset Password
                <i class="fas fa-circle-notch fa-spin ml-4" *ngIf="loader"></i>
            </button>
        </form>
    </div>
    <footer class="text-center text-white f-14">
        <span>Review our</span>
        <span class="cursor ml-1">Terms</span> and 
        <span class="cursor">Privacy Policy</span>
    </footer>
</div>
<app-background></app-background>