<div class="overlay">
    <app-top-nav class="w-100"></app-top-nav>
    <div class="content">
        <h6 class="font-weight-bold f-32 text-app-black">Forgot your password?</h6>
        <p>
            Enter the email address associated with your account 
            and we’ll send you a link to reset your password.
        </p>
        <form >
            <div class="group">
                <input type="text" class="form-control" placeholder="Email address">
                <mat-icon>mail</mat-icon>
            </div>
            <button class="bg-app-black text-white btn" [disabled]="sent == true"
            [ngClass]="{'success': sent == true}" (click)="send()">
                {{sent == false?'Send password reset link':'Password Reset Link Sent!'}}
            </button>
            <div class="text-center" *ngIf="sent == true">
                <span class="forgot_link cursor" (click)="resend()">Didnt get a link?  Resend
                </span>
            </div>
        </form>
    </div>
    <footer class="text-center text-white f-14">
        <span>Review our</span>
        <span class="cursor ml-1">Terms</span> and 
        <span class="cursor">Privacy Policy</span>
    </footer>
</div>
<app-background></app-background>