<div class="overlay">
    <app-top-nav class="w-100"></app-top-nav>
    <div class="content">
        <h6 class="font-weight-bold f-32 text-app-black">Forgot your password?</h6>
        <p>
            Enter the email address associated with your account 
            and we’ll send you a link to reset your password.
        </p>
        <form >
            <div *ngIf="sent == false">
                <div class="group" >
                    <input type="text" class="form-control" name="phone" 
                    [(ngModel)]="data.phone" placeholder="Phone Number">
                    <mat-icon class="phone">phone</mat-icon>
                </div>
                <button class="bg-app-black text-white btn" 
                [disabled]="data?.phone == '' || loader" (click)="send()">
                    Send
                    <i class="fas fa-circle-notch fa-spin ml-4" *ngIf="loader"></i>
                </button>
            </div>
            <div *ngIf="sent == true">
                <div class="group" >
                    <input type="text" class="form-control" name="code" 
                    [(ngModel)]="data.code" placeholder="Confirmation Code">
                    <mat-icon>enhanced_encryption</mat-icon>
                </div>
                <button class="bg-app-black text-white btn" 
                [disabled]="data?.code == '' || confirm_loader" (click)="confirm()">
                    Confirm Code
                    <i class="fas fa-circle-notch fa-spin ml-4" *ngIf="confirm_loader"></i>
                </button>
                <div class="text-center" >
                    <span class="forgot_link cursor" (click)="resend()">Didnt get a link?  Resend
                        <i class="fas fa-circle-notch fa-spin ml-3" *ngIf="resend_loader"></i>
                    </span>
                </div>
            </div>
            
        </form>
    </div>
    <footer class="text-center text-white f-14">
        <span>Review our</span>
        <span class="cursor ml-1">Terms</span> and 
        <span class="cursor">Privacy Policy</span>
    </footer>
</div>
<app-background></app-background>