<footer class="bg-app-black">
    <div class="footer_links">
        <div class="profile">
            <img src="../../../assets/img/logo.png" alt="">
            <p class="text-white f-14">No 142 ******** Savanah Estate, Gudu, Abuja</p>
            <p class="f-14 text-white d-flex flex-wrap">
                <span class="mr-3">XXXXXXXXXXXX</span>
                <span class="">XXXXXXXXXXXXXX</span>
            </p>
            <p class="f-14 text-white">support@orbzone.io</p>
        </div>
        <div class="links">
            <h6 class="font-weight-bold f-16">Links</h6>
            <li [routerLink]="['/account/join']" >Become a Contributor </li>
            <li>F.A.Q</li>
        </div>
        <div class="links">
            <h6 class="font-weight-bold f-16">Discover</h6>
            <li>Contributors</li>
            <li>Premium Images</li>
        </div>
        <div class="links">
            <h6 class="font-weight-bold f-16">Our</h6>
            <li>Privacy Policy</li>
            <li>Terms and Conditions</li>
        </div>
    </div>
    <hr>
    <div class="flex_x_between">
        <span class="f-13 w-68">© 2020 Orbzone.io, All Rights Reserved</span>
        <div>
            <i class="fab fa-twitter mr-3"></i>
            <i class="fab fa-facebook-f mr-3"></i>
            <i class="fab fa-google"></i>
        </div>
    </div>
</footer>