.nav_black{
    background: #111 !important;
}
.default_nav{
    background: none !important;
}
.nav_bar{
    padding: 1rem 5%;
    z-index: 9;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    justify-content: space-between;
    li{
        list-style: none;
        cursor: pointer;
        color: #fff;
        margin-left: 1.5rem;
        font-weight: normal;
        font-size: 17px;
        line-height: 21px;
        &:last-child{
            margin-left: 4rem;
        }
    }
    button{
        padding: .5rem 1rem;
        background: 5px;
        color: #fff;
    }
    
}
.search{
    margin-left: 3rem;
    position: relative;
    input{
        border: none;
        background: #fff;
        border-radius: 8px;
        color: #656565;
        font-size: 14px;
        width: 25rem;
        padding: .7rem 1rem;
        &::placeholder{
            color: #656565;
        }
    }
    mat-icon{
        position: absolute;
        color: #172B4D;
        right: .8rem;
        top: .75rem;
        font-size: 20px;
    }
}
.noty{
    position: relative;
    .badge{
        position: absolute;
        background: #F74F70;
        right: -4px;
        top: -1px;
        border-radius: 50%;
        height: 20px;
        width: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 12px;
        color: #fff;
        font-weight: 500;
    }
    mat-icon{
        width: 34px;
        height: 34px;
        font-size: 34px;
        color: #fff;
    }
}
.user_avatar{
    margin-left: 1.5rem;
    width: 49px;
    height: 49px;
    cursor: pointer;
    object-fit: cover;
    border-radius: 50%;
}
.slide_menu{
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: 9999999;
    left: 0;
    right: 0;
    padding: 3rem 10%;
    transform: translateX(-150%);
    background: rgba(0, 0, 0, 0.96) !important;
    transition: transform 0.5s ease-in-out;   
     .search{
        margin-left: 0;
        mat-icon{
            right: 2rem;
            color: #172B4D;
            cursor: pointer;
        } 
        input{
            width: 100%;
        }
    }
    .menu_open mat-icon{
        color: #fff !important;
    }
    li{
        list-style: none;
        color: #fff;
        cursor: pointer;
        margin-bottom: 2rem;
    }
    button{
        padding: .5rem 3rem;
    }
}
.motion_in{
    transform: translateX(0);
}
.menu_toggle{
    display: none;
    mat-icon{
        color: #fff !important;
    }
}
@media screen and (max-width: 1024px) {
    .user_avatar{
        width: 40px;
        height: 40px;
        margin-right: 1.5rem;
    }
    .menu_toggle{
        display: block !important;
    }
    .desktop_view{
        display: none !important;
    }
    
}
@media screen and (max-width: 699px) {
    .slide_menu{
        padding: 3rem 5%;
    }
}

