<mat-dialog-content>
    <div class="top d-flex justify-content-between mb-3 flex-wrap">
        <h6 class="f-16 fw-800 text-app-black f-18">Save to Collection</h6>
        <div class="filter_box cursor">
            <a class="btn_grey">Create Collection</a>
        </div>
    </div>
    <div class="mb-3">
        <img [src]="data?.image" alt="">
    </div>
    <div class="bottom f-14 text-app-black cursor font-weight-bold">
        <a >
            View Your Collections 
        </a>
        <mat-icon class="ml-1">east</mat-icon>
    </div>
</mat-dialog-content>