<div class="wrapper">
    <div class="image_item">
        <div class="top">
            <button class="bg_grey btn">Edit</button>
            <button class="btn bg_grey icon_btn">
                <mat-icon>delete_forever</mat-icon>
            </button>
            
        </div>
        <img src="../../../assets/img/gallery-1.png" alt="">
        <div class="bottom">
            <span class="btn bg-app-success text-white">Published</span>
            <button class="btn bg_grey icon_btn">
                <mat-icon>save_alt</mat-icon>
            </button>
        </div>
    </div>
    <div class="image_item">
        <div class="top">
            <button class="bg_grey btn">Edit</button>
            <button class="btn bg_grey icon_btn">
                <mat-icon>delete_forever</mat-icon>
            </button>
        </div>
        <img src="../../../assets/img/gallery-1.png" alt="">
        <div class="bottom">
            <span class="btn bg-app-success text-white">Published</span>
            <button class="btn bg_grey icon_btn">
                <mat-icon>save_alt</mat-icon>
            </button>
        </div>
    </div>
</div>