.wrapper{
    padding: 0 10%;
    display: flex;
    margin: 2.5rem 0 3rem 0;
}
.nav-tabs{
    width: 17%;
    border-bottom: none;
    display: block;
    a{
        text-decoration: underline;
    }
}
.tab-content{
    width: 83%;
    padding-left: 2.7rem;
}
.btn{
    padding: .7rem .9rem;
}
.profile_image{
    .change_pic{
        color: #B2B2B2;
        text-decoration: underline;
    }
    img{
        height: 162px;
        width: 162px;
        border-radius: 50%;
        object-fit: cover;
        margin-bottom: 1rem;
    }
}

.form-control{
    font-size: 14px;
    color: #BDBDBD !important;
    padding: 1.3rem .5rem;
    border: 1px solid #000;
    &::placeholder{
    color: #BDBDBD;
    }
}
.portfolio .form-control{
    padding: 1.3rem .5rem 1.3rem 3.2rem !important;
}
.ig .form-control, .twitter .form-control{
    padding: 1.3rem .5rem 1.3rem 1.5rem !important;
}
.prefix{
    position: absolute;
    top: .7rem;
    font-size: 14px;
    left: .5rem;
    color: #BDBDBD;
}
.nav-tabs ul{
    padding: 0;
}
.tab-pane h6{
    margin-bottom: 2rem;
}
.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  color: #000;
  font-weight: 800;
  background: none !important;
  border: none !important;
}

.profile_group{
    display: flex;
}
form{
    padding-left: 6rem;
    width: auto;
}
.password form{
    padding-left: 0;
}
a.nav-link{
    padding-left: 0;
}
h6.mobile{
    display: none;
}

//CARD TAB
.debit_card{
    background: rgba(242, 153, 74, 0.1);
    border-radius: 3px;
    margin-bottom: 1rem;
    padding: .75rem .7rem .75rem 2rem;
    span{
        color: #381A51;
        padding: 0 1rem;
    }
    mat-icon{
        font-size: 20px;
        height: 20px;
        width: 20px;
    }
    img{
        height: 34px;
        width: 34px;
    }
}
.notice_content{
    width: 26rem;
    border-radius: 12px;
    padding: 1rem 1.5rem;
    form{
        padding: .5rem 1.2rem;
    }
    .btn{
        padding: .7rem .8rem;
    }
    h6{
        margin-bottom: 1.8rem;
    }
    .form-control{
        border: 2px solid #8F92A1 !important;
    }
    .master_card{
        border: 1px solid #EBEDF8;
        border-radius: 16px;
        padding: .8rem 2rem;
        text-align: center;
    }
    .images {
        margin-bottom: 3.2rem;
        img{
            width: 4.5rem;
        }
    }
    .prefix{
        right: .5rem;
        top: .9rem;
        left: initial;
    }
}
@media (max-width: 968px) {
    .wrapper{
        display: block;
    }
    h6.desktop{
        display: none !important;
    }
    h6.mobile{
        display: block !important;
        margin-bottom: 1rem;
    }
    .nav-tabs{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 1.5rem;
    }
    .nav-item{
        margin-right: 1.5rem;
    }
    // .first_item{
    //     margin-left: 0 !important;
    // }
    .tab-content{
        width: 100%;
        padding-left: 0;
    }
    form{
        padding-left: 1.5rem;
        width: auto;
    }
    .profile_image{
        margin-bottom: .5rem;
        img{
            height: 120px;
            width: 120px;
        }
    }
}
@media (max-width: 599px) {
    .profile_image{
        display: flex;
        align-items: center;
        img{
            margin-right: 1rem;
        }
    }
    .profile_group{
        display: block;
    }
    form{
        padding-left: 0;
        width: auto;
    }
}