@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;500&display=swap');
*{
  outline-width: 0 !important;
  outline: none !important;
  font-family: 'Mulish', sans-serif;
  font-style: normal;
  button,button:active,button:focus,
  .form-control:active,.form-control:focus,
  input:active, input:focus{
    outline-width: 0 !important;
    outline: none !important;
  }
}

$colorScheme : (
    primary:#F2994A,
    teal: #03CFB4,
    altTeal: #D3F5D3,
    mag-green: #A7E66C,
    tertiary: #F7B924,
    danger: #ff0000,
    altBlack: #111111,
    alt: #fd976629,
    text-black: #000000,
    dark: #6D6D6D,
);

@function color($key) {
    @return map-get($colorScheme, $key);
}
.bg-app-primary{
    background: color(primary) !important;
    color: #fff !important;
}
.bg-app-teal{
  background: color(teal) !important;
  color: #fff;
}
.bg-app-lightteal{
    background: color(altTeal);
}
.bg-app-outlet{
  background: color(outlet);
  color: #fff;
}
.bg-app-black{
  background: color(text-black) !important;
  color: #fff;
}
.bg-app-altBlack{
    background: color(altBlack) !important;
}
.bg-app-green{
  background: color(mag-green) !important;
  color: #fff;
}
.bg-app-danger{
  background: color(danger) !important;
  color: #fff;
}
.text-app-danger{
  color: color(danger) !important;
}
.text-app-primary{
    color: color(primary) !important;
}
.text-app-green{
  color: color(mag-green) !important;
}
.text-app-light{
    color: #fff !important;
}
.text-app-teal{
    color:color(teal)
}
.text-app-lightteal{
    color: color(altTeal);
}
.text-app-dark{
  color: color(dark);
}
.text-app-altBlack{
  color: color(altBlack);
}
.text-app-green{
  color: color(bg-green);
}
.text-app-black{
  color: color(text-black);
}
.text-app-grey{
  color: color(text-dark) !important;
  letter-spacing: -0.500211px;
}

//CUSTOM TYPOGRAPHY
.f-14{
    font-size: 14px;
}
.f-16{
  font-size: 16px;
}
.f-17{
    font-size: 17px;
}
.f-18{
    font-size: 18px;
}
.f-21{
    font-size: 21px;
}
.f-24{
  font-size: 24px;
}
.f-32{
  font-size: 32px;
}
.f-36{
  font-size: 36px;
}
.f-48{
    font-size: 48px;
}
.fw-800{
    font-weight: 800;
}
.fw-600{
    font-weight: 600;
}

.cursor{
    cursor: pointer;
}
.flex_center{
    display: flex;
    align-items: center;
}

//LOGO
.logo_brand img{
  width: 7.3rem;
}

//GREY BUTTON STYLING
.btn_grey{
  color: #000;
  background: #F9F9F9;
  border: 1px solid #BDBDBD;
  border-radius: 5px;
  padding: .3rem .5rem;
  cursor: pointer;
  text-decoration: none;
}
//MASONRY BRICK STYLE GALLERY
.intro_text{
  padding: 0 5%;
  margin-top: .7rem;
}
.masonry {
    columns: 3;
    padding: .2rem 5%;
    margin-bottom: 2rem;
    column-gap: 16px;
    @media (max-width: 1200px) {
      columns: 3;
    }
    @media (max-width: 992px) {
      columns: 2;
    }
    @media (max-width: 559px) {
      columns: 1;
    }
    //@media (max-width: 768px) {columns: 1;}
    .grid {
      display: inline-block;
      margin-bottom: 16px;
      position: relative;
      min-height: 15rem;
      width: 100%;
      &:before {
        content:'';
        position:absolute;
        border-radius: 5px;
        top:0;
        right:0;
        bottom:0;
        left:0;
        background-color:rgba(0,0,0,.3);
      }
      img {
        width: 100%;
        border-radius: 5px;
      }
      
      &__title {
        font-size: 28px;
        font-weight:bold;
        margin: 0px 0px 10px 0px;
      }
      &__author {
        font-size: 14px;
        font-weight:300;
      }
      &__link {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
      }
      &__body {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        padding: 1rem;
        color: #fff;
        display: flex;
        flex-direction: column
      }
      &__tag {
        background-color:rgba(255,255,255,.8);
        color: #333;
        border-radius:5px;
        padding: 5px 15px;
        margin-bottom: 5px;
      }
    }
  }
  

  //SHIMMER EFFECT
  .shimmer_wrapper{
    display: flex;
    justify-content: space-between;
    flex-flow: wrap;
    padding: 1rem 5%;
    @media (max-width: 599px) {
      display: block;
    }
  }
  .shimmer_card {
    position: relative;
    -webkit-box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);
    background-color: #FFF;
    border-radius: 6px;
    height: auto;
    overflow: hidden;
    width: 32%;
    margin-bottom: 1.5rem;
    @media (max-width: 599px) {
      width: 100%;
    }
    .shimmerBG {
      animation-duration: 2.2s;
      animation-fill-mode: forwards;
      animation-iteration-count: infinite;
      animation-name: shimmer;
      animation-timing-function: linear;
      background: #ddd;
      background: linear-gradient(to right, #dddddde8 8%, #50505021 18%, #50505021 33%);
      background-size: 1200px 100%;
    }

    @-webkit-keyframes shimmer {
        0% {
            background-position: -100% 0;
        }
        100% {
            background-position: 100% 0;
        }
    }

    @keyframes shimmer {
        0% {
            background-position: -1200px 0;
        }
        100% {
            background-position: 1200px 0;
        }
    }
      .media {
      height: 300px;
    }

    .p-32 {
      padding: 32px 5px;
    }
    .shimnmer_icons{
      display: flex;
      width: 40%;
      padding-right: 5%;
      justify-content: space-between;
    }
    .shimmer_user{
      display: flex;
      width: 60%;
    }
    .avatar {
        height: 35px;
        width: 35px;
        margin-right: 5px;
        border-radius: 50%;
    }
    .user{
        height: 35px;
        width: 70%;
        border-radius: 5px;
    }
    .icons {
        height: 25px;
        width: 25px;
        border-radius: 50%;
    }
  }
  .m-t-24 {
      margin-top: 24px;
  }

  //VALIDATION ERROR STYLING
  input.ng-touched.ng-invalid, 
  select.ng-touched.ng-invalid {
    border-bottom: 1px solid lightcoral !important;
  }
  .error{
    color: red;
  }
  //SNACKBAR STYLING
  .mat-snack-bar-container{
    max-width: 100% !important;
    width: 100% !important;
  }
  .error-snackbar,.success-snackbar,.warning-snackbar{
    z-index: 99999999999999 !important;
  }
  .error-snackbar, .error-snackbar .mat-simple-snackbar-action{
    background-color: red;
    color: #fff !important;
  }
  .warning-snackbar, .mat-simple-snackbar-action{
    background-color: orange;
    color: #fff;
  }
  .success-snackbar, .success-snackbar .mat-simple-snackbar-action{
    background-color: green;
    color: #fff;
  }

  //CUSTOM POPUP
  .overlay_notice{
    flex-direction: column;
    background: rgba(0, 0, 0, 0.7) !important;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 99;
    left: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    .notice_content{
      padding: 2rem 2rem 5rem 2rem;
      background: #fff;
      width: 22rem;
      border-radius: 5px;
      text-align: center;
    }
  }

  button.disabled{
    opacity: .5;
  }
  //Dialog box Image container
  .image_data{
    position: relative;
    min-height: 15rem;
    height: auto;
    &:before {
        border-radius: 5px;
        content:'';
        position:absolute;
        top:0;
        right:0;
        bottom:0;
        left:0;
        background-color:rgba(0,0,0,.3);
    }
  }
  //botoom buttons for image information, share/like/wishlist
  .bottom_panel {
    margin-top:auto;
    display: flex;
    justify-content: space-between;
    position: absolute;
    align-items: baseline;
    bottom: -1rem;
    left: .5rem;
    right: .5rem;
    height: 4rem;
    // @media (max-width: 599px) {
    //     display: block;
    //     bottom: 0;
    //     height: 6rem;
    // }
    .avatar{
      width: 60%;
        @media (max-width: 599px) {
            margin-bottom: .7rem;
        }
    }
    img{
        width: 20px !important;
        height: 20px !important;
        border-radius: 50% !important;
        object-fit: cover;
    }
    mat-icon{
        height: 20px;
        width: 20px;
        font-size: 20px;
        margin-right: 10px;
        cursor: pointer;
        color: #fff;
    }
  }

  //CUSTOM SCROLLBAR FOR MATERIAL DIALOG
  mat-dialog-content{
    &::-webkit-scrollbar {
      width: .7em;
    }
     
    &::-webkit-scrollbar-track {
      box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    }
     
    &::-webkit-scrollbar-thumb {
      background-color: color(primary);
      border-radius: 30px;
      outline: 1px solid color(primary);
    }
  }
  
  //DISABLE INPUT FIELD AUTO ZOOM IN
  @media screen and (max-width: 767px) {
    input, select, textarea {
      font-size: 16px !important;
    }
  }