$primary: #F2994A;
.main{
    padding: 8rem 5% 1.5rem 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.filter_box{
    button{
        border: none;
        background: none;
    }
}
.profile {
    display: flex;
    width: 48%;
    .info{
        padding-left: 2rem;
        padding-top: .6rem;
    }
    h6{
        margin-bottom: 1rem;
    }
    img{
        height: 162px;
        width: 162px;
        border-radius: 50%;
        object-fit: cover;
    }
    .btn_grey{
        height: max-content;
        &.mobile{
            display: none;
        }
    }
}
.summary{
    width: 48%;
    padding-top: 1.7rem;
}
.summary_card{
    border-radius: 6px;
    padding: 1.7rem 1.5rem;
    width: 47%;
    color: #fff;
    mat-icon{
        width: 45px;
        height: 45px;
        font-size: 45px;
    }
}
.amount{
    background: #27AE60;
}
.cards{
    display: flex;
    justify-content: space-around;
}
.nav-tabs {
    padding: .5rem 8%;
  }
  .nav-tabs .nav-item{
    margin-right: 3rem;
  }
  .nav-tabs .nav-link {
    display: block;
    padding: .5rem 0;
  }
  .nav-tabs .nav-link:hover{
    border: transparent;
  }
  .nav-tabs .nav-link:nth-child(1){
    padding: .2rem 0;
  }
  .nav-tabs a{
    color: #505050;
  }
  .nav-tabs .nav-item.show .nav-link,
  .nav-tabs .nav-link.active {
    color: $primary;
    background: none !important;
    border: none !important;
    position: relative;
    &::before{
        content: '';
        background: $primary;
        right: 8%;
        left: 8%;
        height: 3px;
        position: absolute;
        top: 2.3rem;
    }
  }

  .nav-tabs .nav-link:hover{
    border: 1px solid transparent !important;
  }
  
@media (max-width: 599px) {
    .main{
        display: block;
    }
    .profile{
        margin-bottom: 1rem;
        img{
            height: 105px;
            width: 105px;
        }
        .mail{
            display: flex;
            flex-wrap: wrap;
        }
        .btn_grey.desktop{
            display: none;
        }
        .btn_grey.mobile{
            display: block;
            margin-top: 1rem;
        }
    }
    .summary, .profile{
        width: 100%;
    }
}