<app-alt-navbar></app-alt-navbar>
<div class="main">
    <div class="profile">
        <img [src]="user?.image" onerror="this.src='../../../assets/img/user-icon.jpg'" alt="Orbzone author">
        <div class="info">
            <div class="d-flex align-items-center">
                <h6 class="fw-800 f-36 text-app-black pr-4">
                    {{user?.surname | titlecase}} 
                    {{user?.firstname | titlecase}}
                </h6>
                <span class="btn_grey">Edit Profile</span>
            </div>
            <p class="f-15 text-app-black">{{user?.email}}
            <span class="pl-4">{{user?.contribution_count}} Photos</span>
            </p>
            <p class="bio f-15 fw-600 text-app-black">Just an afrocentric photogropher looking for relatable photos
                in the african way of life</p>
        </div>
    </div>
    <div class="summary">
        <div class="filter_box cursor d-flex justify-content-end">
            <button class="f-15 text-app-black flex_center" [matMenuTriggerFor]="menu">
                Filter By: <span class="fw-600">{{filter.duration | titlecase}}</span>
                <mat-icon class="cursor">expand_more</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item *ngFor="let item of options" 
                [ngClass]="{'text-app-primary': filter?.duration == item}"
                (click)="filterAnalytics(item)">{{item | titlecase}}</button>
            </mat-menu>
        </div>
        <div class="cards">
            <div class="summary_card d-flex image_count bg-app-altBlack align-items-center">
                <mat-icon>photo_camera</mat-icon>
                <div class="ml-3">
                    <h6 class="f-32 mb-0">{{analytics?.contributions?.total}}</h6>
                    <span class="f-14">Photos</span>
                </div>
            </div>
            <div class="summary_card amount">
                <h6 class="f-32 mb-0">N{{analytics?.earning_total}}</h6>
                <span class="f-14">{{filter.duration | titlecase}}</span>
            </div>
        </div>
    </div>
</div>
<ul class="nav nav-tabs mb-4" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
        <a class="nav-link active text-app-black f-w6" id="contribution-tab" 
        data-toggle="tab" href="#contribution"
        role="tab" aria-controls="login" aria-selected="true">Contributions</a>
    </li>
    <li class="nav-item" role="presentation">
        <a class="nav-link text-app-black f-w6" id="wallet-tab" data-toggle="tab" href="#wallet"
        role="tab" aria-controls="wallet" aria-selected="false">Wallet</a>
    </li>
    <li class="nav-item" role="presentation">
        <a class="nav-link text-app-black f-w6" id="photo-tab" data-toggle="tab" href="#photo"
        role="tab" aria-controls="photo" aria-selected="false">Photos</a>
    </li>
    <li class="nav-item" role="presentation">
        <a class="nav-link text-app-black f-w6" id="account-tab" data-toggle="tab" href="#account"
        role="tab" aria-controls="account" aria-selected="false">My Account</a>
    </li>
    <li class="nav-item" role="presentation">
        <a class="nav-link text-app-black f-w6" id="collection-tab" data-toggle="tab" href="#collection"
        role="tab" aria-controls="collection" aria-selected="false">My Collections</a>
    </li>
</ul>

<div class="tab-content">
    <div class="tab-pane active" id="contribution" role="tabpanel" aria-labelledby="contribution-tab">
    </div>
    <div class="tab-pane" id="wallet" role="tabpanel" aria-labelledby="wallet-tab">
    </div>
    <div class="tab-pane" id="photo" role="tabpanel" aria-labelledby="photo-tab">
    </div>
    <div class="tab-pane" id="account" role="tabpanel" aria-labelledby="account-tab">
    </div>
    <div class="tab-pane" id="collection" role="tabpanel" aria-labelledby="collection-tab">
    </div>
</div>
